/MYMETA.json
/MYMETA.yml
/Makefile
/blib/*
/pm_to_blib
/rules/70_sandbox.cf
/rules/72_active.cf
/rules/SIQ.pm
/rules/sandbox-felicity.pm
/rules/sandbox-hstern.pm
/sa-awl
/sa-check_spamd
/sa-compile
/sa-learn
/sa-update
/spamassassin
/spamc/Makefile
/spamc/config.h
/spamc/config.log
/spamc/config.status
/spamc/spamc
/spamc/spamc.h
/spamc/version.h
/spamd/spamd
/t/log/*
/Mail-SpamAssassin-*.tar.gz
