Package: spamc
Source: spamassassin
Version: 3.3.1-2
Architecture: i386
Maintainer: Noah Meyerhans <noahm@debian.org>
Installed-Size: 288
Depends: libc6 (>= 2.7), libssl0.9.8 (>= 0.9.8k-1), zlib1g (>= 1:1.1.4)
Suggests: spamassassin
Conflicts: spamassassin (<< 2.30-2)
Section: mail
Priority: optional
Homepage: http://www.spamassassin.org/
Description: Client for SpamAssassin spam filtering daemon
 spamc is the client to communicate with spamd, the daemonized form of
 SpamAssassin (see the spamassassin package). It is written in C for
 maximum speed and minimum loading overhead.
 .
 spamc is quite useful for integrating spamassassin into an MTA or
 into a .procmailrc file because of its speed.
 .
 This package is useless unless you have spamassassin installed,
 either on this machine or another local machine (i.e. a mail server).
