# temporary working directory for summary results
tmp=/home/corpus/tmp

# subversion directory location
tree=/home/corpus/svn/spamassassin

# rsync username and password
username=joe
password=xyzzy

# weekly and nightly mass-check options
opts_weekly="--restart=500 --tail=15000 --net -j 8 -f /home/corpus/mail/corpus"
opts_nightly="--restart=500 --tail=15000 -f /home/corpus/mail/corpus"

# weekly and nightly mass-check user_prefs files
prefs_weekly=/home/corpus/mail/user_prefs.weekly
prefs_nightly=/home/corpus/mail/user_prefs.nightly

## SERVER-SIDE SETTINGS:

# location of tagtime file
tagtime=/home/corpus/log/tagtime

# location of corpus file (mass-check -f $corpus)
corpus=/home/corpus/corpus

# location for summary results
html=/home/html/root/users/corpus

# file mode for directories/files under "html".  keep the leading "0"!
html_mode=0755

# (optional) replacement rsync command.  leave commented in most cases
# rsync_command=rsync -CPcvuzt --timeout=300 username@rsync.spamassassin.org::corpus/*.log .

# should the sanity-checks for HTML-generation be ignored?
always_update_html=0

# should the revision numbers in the corpus files be ignored
# when determining whether those logs should be used or not?
ignore_revisions=0

# the path to an (optional) script to run before running the
# "mass-check" command.
# pre_mass_check_command=/path/to/script

# the URL of the ruleqa web application.
ruleqa_url=https://ruleqa.spamassassin.org/

