Source: spamassassin
Section: mail
Priority: optional
Maintainer: Noah Meyerhans <noahm@debian.org>
Uploaders: Jesus Climent <jesus.climent@hispalinux.es>
Build-Depends: debhelper (>= 7), perl, libssl-dev,
 libhtml-parser-perl (>= 3.24), libnet-dns-perl (>= 0.34), libnetaddr-ip-perl
Standards-Version: 3.9.2
Homepage: http://www.spamassassin.org/
Vcs-Svn: svn://svn.debian.org/svn/collab-maint/deb-maint/spamassassin/trunk
Vcs-Browser: http://svn.debian.org/viewsvn/collab-maint/deb-maint/spamassassin/trunk/

Package: spamassassin
Architecture: all
Conflicts: spamass-milter (<< 0.2.0-7), gotmail (<= 0.8.1-1)
Depends: perl (>= 5.8.0), libhtml-parser-perl (>= 3.43),
 libsocket6-perl, libsys-hostname-long-perl, libarchive-tar-perl, 
 libwww-perl, libnet-dns-perl (>= 0.34), libnetaddr-ip-perl,
 perl-modules (>= 5.10) | libio-zlib-perl (>= 1.04), ${misc:Depends}
Recommends: spamc (>= 2.30), libmail-spf-perl,
 re2c, libsys-syslog-perl, gnupg, gcc, libc6-dev, make, libio-socket-inet6-perl
Suggests: razor (>= 2.361-2),
 libnet-ident-perl, libio-socket-ssl-perl, libdbi-perl, pyzor,
 libcompress-zlib-perl, libmail-dkim-perl
Provides: libmail-spamassassin-perl
Description: Perl-based spam filter using text analysis
 SpamAssassin is a very powerful and fully configurable spam filter
 with numerous features including automatic white-listing, RBL
 testing, Bayesian analysis, header and body text analysis. It is
 designed to be called from a user's .procmail or .forward file, but
 can also be integrated into a Mail Transport Agent (MTA).
 .
 Included in this package is a daemonized form of spamassassin (spamd)
 which communicates with its client (spamc) via TCP, to reduce the
 overhead of loading perl with each message. To take advantage of
 this, you must install the spamc package.

Package: spamc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: spamassassin
Conflicts: spamassassin (<< 2.30-2)
Description: Client for SpamAssassin spam filtering daemon
 spamc is the client to communicate with spamd, the daemonized form of
 SpamAssassin (see the spamassassin package). It is written in C for
 maximum speed and minimum loading overhead.
 .
 spamc is quite useful for integrating spamassassin into an MTA or
 into a .procmailrc file because of its speed.
 .
 This package is useless unless you have spamassassin installed,
 either on this machine or another local machine (i.e. a mail server).

