Source: spamassassin
Section: mail
Priority: optional
Maintainer: Duncan Findlay <duncf@debian.org>
Build-Depends: debhelper (>= 4), perl (>= 5.6.0-16)
Standards-Version: 3.5.7

Package: spamassassin
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libhtml-parser-perl, spamc (>= 2.30)
Recommends: libnet-dns-perl, libmailtools-perl
Suggests: razor
Provides: libmail-spamassassin-perl
Description: Perl-based spam filter using text analysis
 spamassassin is a very powerful and fully configurable spam filter
 with numerous features including automatic white-listing, RBL
 testing, header and body text analysis. It is designed to be called
 from a user's .procmail or .forward file, but can be integrated into
 your Mail Transport Agent (MTA).
 .
 Included in this package is a daemonized form of spamassassin (spamd)
 which communicates with its client (spamc) via TCP, to reduce the
 overhead of loading perl with each message. To take advantage of
 this, you must install the spamc package.

Package: spamc
Architecture: any
Depends: ${shlibs:Depends}
Suggests: spamassassin
Conflicts: spamassassin (<< 2.30-2)
Description: Client for perl-based spam filtering daemon
 spamc is the client to communicate with spamd, the daemonized form of
 spamassassin (see the spamassassin package). It is written in C for
 maximum speed and minimum loading overhead.
 .
 spamc is quite useful for integrating spamassassin into an MTA or
 into a .procmailrc file because of its speed.
 .
 This package is useless unless you have spamassassin installed,
 either on this machine or another local machine (i.e. a mail server).
