#!/bin/sh
set -e

. /usr/share/debconf/confmodule

PROMPT_CANCEL="0"

if [ "$2" ] ; then # Upgrading!
    if `dpkg --compare-versions "$2" lt 2.40-1` ; then
	db_input critical spamassassin/upgrade/2.40 && PROMPT_CANCEL="1"
        # Critical since mailing this to someone may not work!
    fi
    if `dpkg --compare-versions "$2" lt 2.42-1` ; then
	if [ -e /etc/spamassassin/20_body_tests.cf ] ; then
	    db_input medium spamassassin/upgrade/2.42 || true
	fi
    fi
fi

if [ "$PROMPT_CANCEL" = "1" ] ; then
    db_fset spamassassin/upgrade/cancel seen false || true
    db_set spamassassin/upgrade/cancel "Continue" || true
    db_input critical spamassassin/upgrade/cancel || true
fi

db_go || true
