# <@LICENSE>
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to you under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# </@LICENSE>
#
###########################################################################


# automasscheck-minimal configuration file
# davej 0.04

# See https://wiki.apache.org/spamassassin/NightlyMassCheck 

### BEGIN CONFIGURATION ###

# request an RSYNC account to help with the ruleqa processing.
#
LOGPREFIX="YOUR-USERNAME"
RSYNC_USERNAME="YOUR-USERNAME"
RSYNC_PASSWORD="YOUR-PASSWORD"

# Path to perl executable
PERL=/usr/bin/perl

# If your corpus is huge, to speed up processing you can use a ramdisk for WORKDIR
# It doesn't need to survive a reboot - it will be automagically recreated
WORKDIR=$HOME/masscheckwork

# HOW MANY MASSCHECK SIMULTANEOUS THREADS CAN YOUR BOX HANDLE?
# Default = 8
# If using on an older PC you may want to lower to 6 or less
# If load is still too high - decrease some more.
# A well equipped 8 core server can easily handle 10 or more.
JOBS=8

# Leave blank if you do not want trusted_networks or internal_networks to be set
# Normally both should atleast include IP of your MX server(s)
# https://wiki.apache.org/spamassassin/TrustPath
TRUSTED_NETWORKS=""
INTERNAL_NETWORKS=""

# Uncomment to enable --reuse for net mass-checks.  Mails MUST have been
# processed at receive time with all network tests enabled, without any
# major shortcircuiting and having the X-Spam-Status result header added. 
# This results in much faster mass-checking as there is no need to run
# network tests (dnsbl/spf/dkim/etc lookups) needlessly again.  It also
# results in more accurate stats/scores, since dynamic dns data can change
# hourly - results will be different days or even months later when
# mass-check is run.
#REUSE=--reuse

# Custom rules/config files for mass-check
# Specified file (multiples files separated by space) will be..
# .. added to runtime spamassassin/user_prefs
#CUSTOM_PREFS="$HOME/custom_prefs.cf"
# .. created as runtime rules/99_custom.cf
#CUSTOM_RULES="$HOME/custom_rules.cf"

# Use --after selector for corpus to prevent unnecessary processing.
#   Current ruleqa settings: ham 6 years, spam 2 months
#   Anything older than that will be ignored by ruleqa regardless.
# Note the --all option which scans all messages regardless of size.
#   Without --all, default is to skip messages over 500 KB.
run_all_masschecks() {
  ### sample: single corpus ###
  run_masscheck single-corpus --all \
          --after=-174182400 ham:dir:/path/to/Maildir/.Ham/ \
          --after=-4838400 spam:dir:/path/to/Maildir/.Spam/

  # If you have multiple separate corpuses, you can specify as many run_masscheck lines as you want below.
  ### user2 ###
  #run_masscheck user2 --all \
  #             --after=-174182400 ham:mbox:/home/user2/mail/HAM \
  #             --after=-4838400 spam:mbox:/home/user2/mail/SPAM \
  # This is an example of Maildir instead of mbox
  ### user3 ###
  #run_masscheck user3 --all \
  #             --after=-174182400 ham:dir:/home/user3/mail/HAM/cur \
  #             --after=-4838400 spam:dir:/home/user3/mail/SPAM/cur
}

### END CONFIGURATION ###
